a{
font-family: 'DINosaur',sans-serif;
font-weight: 300;
font-style: normal;

}

p{
font-family: 'DINosaur',sans-serif;
font-weight: 300;
font-style: normal;
line-height: 150%;
}

h3{
font-family: 'DIN Condensed', sans-serif;

}

h4{
font-family: 'DIN Condensed', sans-serif;
}

h2{
font-family: 'DIN Condensed', sans-serif;
color: gray;
/*line-height: 0%;*/
}


td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  font-family: 'DINosaur', sans-serif;
font-weight: 300;
font-style: normal;
line-height: 150%;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

li{
font-family: 'DINosaur', sans-serif;
color: gray;
font-family: 'DINosaur', sans-serif;
font-weight: 300;
font-style: normal;
line-height: 24px;
}

ol{
 font-family: 'DINosaur', sans-serif;
color: gray; 
}

ul{
  font-family: 'DINosaur', sans-serif;
color: gray;
}

a:link {
    color: black; 
    background-color: transparent; 
    text-decoration: none;
}




a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;}
/*怎么定义两种的hover状态*/
a:hover {
    color: gray;
    background-color: transparent;
    text-decoration: underline;
}





ul{
	list-style-type:none;
	margin:0;
  padding:0;
}

li{
  
  padding:0px;
}


.project-list{
width:((100%)-200px);
height:100%;
background-color:white;
margin:0;
position:absolute;
top:0;
left:210px;
float:right;
margin:0;
/* 为什么取消了margin不是相切而是重合*/
}

.main-navigation{
width:200px;
height:100%;
position:fixed;
float:left;
background-color:white;
margin-left: 10px;  
padding-top: 10px;
/*margin-left: 10px;            why safari is differetn from chrome*/           
padding:10px;
/*top:-10px;*/
/*为什么有白边*/
}



.project-navigation{
  color: gray;
width:200px;
height:100%;
position:fixed;
top:160px;
background-color:white;
padding:10px;
margin-left: 10px;  
}



* {
    box-sizing: border-box;
}

.img-container {
    float: left;
    width: 33.33%;
    padding: 6px;
    margin:0;
    text-align:center;
    position:relative;

}

/*project 图片上的浮窗*/
.image {
  opacity: 0.3;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  position:relative;
}
.text {
 opacity: 0;
   position:absolute;
  text-align:center;
}



.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.img-container:hover .image {
  opacity: 1;
  position:relative;
}

.img-container:hover .text {
  opacity: 1;
   position:absolute;
  left:35%;
  top:30%;
  right:40%;
  float:center;
  font-size:18px;
  }



